.player-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-wrapper {
  position: relative;
  width: 100%;/* Proporção 16:9 (dividindo a altura pela largura) */
  overflow: hidden;

}


.aspect-ratio-container{
  display:flex;
  justify-content:center;
}


.aspect-ratio-inner {
  width: 80%;
  height: 100%;
  display:flex;
  justify-content:center;
}

.aspect-ratio-inner video {
  max-width: 100%;
  max-height: 100%;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.views-container {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.resolution-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 8px;
}

.resolution-button {
  margin-right: 8px;
  background-color: #292220;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resolution-button:hover {
  background-color: #00b894;
}

.resolution-button.active {
  background-color: #00b894;
}

.button-container {
  display: flex;
  justify-content: center;
}

.icon-button {
  background-color: #292220;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.icon-button:hover {
  background-color: #00b894;
}

@media (max-width: 768px) {
  .info-container {
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }

  .resolution-container {
    margin-bottom: 16px;
  }

  .button-container {
    justify-content: center;
  }
}

  
  .top-button-container {
    position: absolute;
    top: -45px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .top-button-menu-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .top-button-menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .top-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .top-button-left,
  .top-button-right {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .top-button-left svg,
  .top-button-right svg {
    margin-right: 5px;
  }

  @media (max-width: 768px) {
    .top-button-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .top-button-left,
    .top-button-right {
      margin-bottom: 0.5rem;
    }
  }

  /* Ajuste de posicionamento */
.top-button-right {
  margin-left: auto;
}