@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.anime-cover {
  position: relative;
}

.anime-cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.anime-cover:hover::before {
  background-color: rgba(0, 0, 0, 0.3); /* Altere a cor aqui para a cor desejada */
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.aspect-ratio-box:hover .play-button {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

.aspect-ratio-box:hover .overlay {
  opacity: 1;
}

.gradient-overlay {
  opacity: 0.9; /* Ajuste a opacidade do gradiente conforme necessário */
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .gradient-overlay {
    background-color: rgba(0, 0, 0, 0.9); /* Ajuste a cor e a opacidade do gradiente conforme necessário */
    backdrop-filter: blur(30px); /* Ajuste o desfoque do gradiente conforme necessário */
  }
}

.custom-height {
  height: 30vh;
}

/* TELA DE ADICIONADOS */

@media (min-width: 1366px) {
  .mobile-img {
    display: inline-block;
    width: 1%;
    margin-right:2rem;
    margin-bottom: 2rem;
  }
  .mobile-img:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 640px) {
  .custom-height-last {
    height: 28vh;
  }
}

@media (min-width: 768px) {
  .custom-height-last {
    height: 40vh;
  }
}


@media (min-width: 1024px) {
  .custom-height-last {
    height: 27vh;
  }
}

@media (min-width: 1366px) {
  .custom-height-last {
    height: 45vh;
  }
}

@media (min-width: 1440px) {
  .custom-height-last {
    height: 37vh;
    
  }
}

@media (min-width: 1560px) {
  .custom-height-last {
    height: 31vh;
    
  }
}

@media (min-width: 2560px) {
  .custom-height-last {
    height: 23vh;
  }
}



/* TELAS DE POPULARES*/

@media (max-width: 640px) {
  .custom-height {
    height: 26vh;
  }
}

@media (min-width: 768px) {
  .custom-height {
    height: 40vh;
  }
}

@media (min-width: 1366px) {
  .custom-height {
    height: 45vh;
  }
}

@media (min-width: 1440px) {
  .custom-height {
    height: 37vh;
    
  }
}

@media (min-width: 1560px) {
  .custom-height {
    height: 31vh;
    
  }
}

@media (min-width: 2560px) {
  .custom-height {
    height: 23vh;
  }
}


/* TELAS DA PAGINA DE ANIMES*/

@media (max-width: 640px) {
  .custom-height-animes {
    height: 26vh;
  }
}

@media (min-width: 768px) {
  .custom-height-animes {
    height: 40vh;
  }
}

@media (min-width: 1366px) {
  .custom-height-animes {
    height: 55vh;
  }
}

@media (min-width: 1440px) {
  .custom-height-animes {
    height: 43vh;
    
  }
}

@media (min-width: 1560px) {
  .custom-height-animes {
    height: 31vh;
    
  }
}

@media (min-width: 2560px) {
  .custom-height-animes {
    height: 23vh;
  }
}

.thumbnail {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 57%;
}

.thumbnail img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

footer {
  position:relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #212121;
  color: #ffffff;
}

.footer-content {
  margin-top: auto;
 justify-content: space-between;
  align-items: flex-end;
}

.footer-content p {
  margin: 1.3em;
}
