@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

nav.open {
  animation: slide-in 0.4s ease-in-out;
}

nav.close {
  animation: slide-out 0.4s ease-in-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


.login-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/capa1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(0.5) contrast(0.9) opacity(0.9);
  z-index: -1;
}

.login-page {
  position: relative;
  overflow: hidden;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.anime-cover {
  position: relative;
}

.anime-cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.anime-cover:hover::before {
  background-color: rgba(0, 0, 0, 0.3); /* Altere a cor aqui para a cor desejada */
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.aspect-ratio-box:hover .play-button {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

.aspect-ratio-box:hover .overlay {
  opacity: 1;
}

.gradient-overlay {
  opacity: 0.9; /* Ajuste a opacidade do gradiente conforme necessário */
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .gradient-overlay {
    background-color: rgba(0, 0, 0, 0.9); /* Ajuste a cor e a opacidade do gradiente conforme necessário */
    backdrop-filter: blur(30px); /* Ajuste o desfoque do gradiente conforme necessário */
  }
}

.custom-height {
  width: 100%;
  height: 32vh;
}


@media (max-width: 3840px) {
  .custom-height {
    height: 18.5em;
  }
}

@media (max-width: 1440px) {
  .custom-height {
    height: 18em;
  }
}

@media (max-width: 1024px) {
  .custom-height {
    height: 14em;
  }
}

@media (max-width: 768px) {
  .custom-height {
    height: 15em; /* ou qualquer altura desejada */
  }
}

@media (max-width: 480px) {
  .custom-height {
    height: 15.2em; /* ou qualquer altura desejada */
  }
}


.thumbnail {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 57%;
}

.thumbnail img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

footer {
  position:relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: #ffffff;
}

.footer-content {
  margin-top: auto;
 justify-content: space-start;
  align-items: flex-start;
}

.footer-content p {
  margin: 1em;
}

.footer-container {
  position: relative;
}

.footer-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://wallpaperset.com/w/full/9/c/5/298671.jpg');
  background-size: cover;
  background-position: center;
  z-index: -2;
  filter: brightness(0.4) contrast(0.7) opacity(0.9);
}

.filtro-select {
  padding: 8px;
  font-size: 14px;
  /* Outros estilos personalizados que você deseja aplicar */
}


